# Exercises: Working with Databases in Python

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [2]:
# Import sqlite3 and pandas.
import sqlite3
import pandas as pd

print(sqlite3.sqlite_version)

3.45.3

## Create a Database

In [18]:
# Create a new database called exercises.db.
favorite_books_db = sqlite3.connect('favorite_books.db')

cursor = favorite_books_db.cursor()

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [ ]:
# Create a new table in your database.
cursor.execute("CREATE TABLE favorite_books (title TEXT, author TEXT, desc TEXT)")

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [ ]:
# Add your 3 favorite books to your table.
favorite_books_db = sqlite3.connect('favorite_books.db')

cursor = favorite_books_db.cursor()


cursor.execute("INSERT INTO favorite_books VALUES ('Dune', 'Jimmy', 'Dope af')")
cursor.execute("INSERT INTO favorite_books VALUES ('1984', 'Bob', 'Can see this happening')")
cursor.execute("INSERT INTO favorite_books VALUES ('Farenhiet 451', 'Sally', 'All time classic')")

favorite_books_db.commit()
favorite_books_db.close()

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [ ]:
favorite_books_db = sqlite3.connect('favorite_books.db')

cursor = favorite_books_db.cursor()

cursor.execute("SELECT * FROM favorite_books").fetchall()

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [79]:
favorite_movies_db = sqlite3.connect('favorite_movies.db')

cursor = favorite_movies_db.cursor()

#cursor.execute("CREATE TABLE favorite_movies (id TEXT, title TEXT)")

new_movie = pd.DataFrame([{'id': '1', 'title':'Dune'}])
df = pd.concat([df, new_movie], ignore_index=True)

df.to_sql('df', favorite_movies_db, if_exists='replace')

#favorite_movies_db.execute("create table favorite_movie_table as select * from favorite_movies")

new_movies_df = pd.read_sql_query('Select * from favorite_movies;', favorite_movies_db)

new_movies_df.head(6)

new_movie = pd.DataFrame([{'id': '2', 'title':'Star Wars'}])
df = pd.concat([df, new_movie], ignore_index=True)

df.to_sql('df', favorite_movies_db, if_exists='replace')

#favorite_movies_db.execute("create table favorite_movie_table as select * from favorite_movies")

new_movies_df = pd.read_sql_query('Select * from favorite_movies;', favorite_movies_db)

new_movies_df.head(6)

DatabaseError: Execution failed on sql 'Select * from movies;': no such table: movies