# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [59]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltdf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\baltimore_9-24-2016_9-30-2017.csv')
bostdf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\boston_9-24-2016_9-30-2017.csv')
nydf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\new-york_9-24-2016_9-30-2017.csv')
phillydf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\philadelphia_9-24-2016_9-30-2017.csv')

#print(baltdf.head(5))


baltdf = baltdf.dropna(subset=['Variety'])

print(baltdf)

    Commodity Name  City Name  Type             Package      Variety  \
2         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
3         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
4         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
5         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
6         PUMPKINS  BALTIMORE   NaN        36 inch bins  HOWDEN TYPE
..             ...        ...   ...                 ...          ...
148       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
149       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
150       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
151       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
152       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE

    Sub Variety  Grade        Date  Low Price  High Price  ...   Color  \
2           NaN    NaN  09/24/2016        160       160.0  ...     NaN
3           NaN    NaN  09/24/2016        160       160.0  ...     NaN
4           NaN    NaN  11/05/2016         90       100.0  ...     NaN
5           NaN    NaN  11/12/2016         90       100.0  ...     NaN
6           NaN    NaN  09/24/2016        160       170.0  ...     NaN
..          ...    ...         ...        ...         ...  ...     ...
148         NaN    NaN  09/30/2017         18        18.0  ...  ORANGE
149         NaN    NaN  09/30/2017         18        18.0  ...  ORANGE
150  ROUND TYPE    NaN  09/24/2016         15        15.0  ...     NaN
151  ROUND TYPE    NaN  10/01/2016         15        15.0  ...     NaN
152  ROUND TYPE    NaN  10/08/2016         15        15.0  ...     NaN

     Environment Unit of Sale  Quality Condition Appearance  Storage Crop  \
2            NaN          NaN      NaN       NaN        NaN      NaN  NaN
3            NaN          NaN      NaN       NaN        NaN      NaN  NaN
4            NaN          NaN      NaN       NaN        NaN      NaN  NaN
5            NaN          NaN      NaN       NaN        NaN      NaN  NaN
6            NaN          NaN      NaN       NaN        NaN      NaN  NaN
..           ...          ...      ...       ...        ...      ...  ...
148          NaN          NaN      NaN       NaN        NaN      NaN  NaN
149          NaN          NaN      NaN       NaN        NaN      NaN  NaN
150          NaN          NaN      NaN       NaN        NaN      NaN  NaN
151          NaN          NaN      NaN       NaN        NaN      NaN  NaN
152          NaN          NaN      NaN       NaN        NaN      NaN  NaN

     Repack  Trans Mode
2         N         NaN
3         N         NaN
4         N         NaN
5         N         NaN
6         N         NaN
..      ...         ...
148       N         NaN
149       N         NaN
150       N         NaN
151       N         NaN
152       N         NaN

[151 rows x 25 columns]

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [ ]:
# Clean your data here!
baltdf = baltdf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"]) 
bostdf = bostdf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"]) 
nydf = nydf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"])
phillydf = phillydf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"])

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [60]:
# Combine the four dataframes into one!

nedf = pd.concat([baltdf, bostdf, nydf, phillydf])

print(nedf)

   Commodity Name     City Name  Type             Package      Variety  \
2        PUMPKINS     BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
3        PUMPKINS     BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
4        PUMPKINS     BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
5        PUMPKINS     BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
6        PUMPKINS     BALTIMORE   NaN        36 inch bins  HOWDEN TYPE
..            ...           ...   ...                 ...          ...
52       PUMPKINS  PHILADELPHIA   NaN  1/2 bushel cartons    MINIATURE
53       PUMPKINS  PHILADELPHIA   NaN  1/2 bushel cartons    MINIATURE
54       PUMPKINS  PHILADELPHIA   NaN  1/2 bushel cartons    MINIATURE
55       PUMPKINS  PHILADELPHIA   NaN  1/2 bushel cartons    MINIATURE
56       PUMPKINS  PHILADELPHIA   NaN  1/2 bushel cartons    MINIATURE

   Sub Variety  Grade        Date  Low Price  High Price  ...  Color  \
2          NaN    NaN  09/24/2016        160       160.0  ...    NaN
3          NaN    NaN  09/24/2016        160       160.0  ...    NaN
4          NaN    NaN  11/05/2016         90       100.0  ...    NaN
5          NaN    NaN  11/12/2016         90       100.0  ...    NaN
6          NaN    NaN  09/24/2016        160       170.0  ...    NaN
..         ...    ...         ...        ...         ...  ...    ...
52   FLAT TYPE    NaN  11/05/2016         16        18.0  ...    NaN
53   FLAT TYPE    NaN  08/26/2017         18        20.0  ...    NaN
54   FLAT TYPE    NaN  09/16/2017         16        16.0  ...    NaN
55   FLAT TYPE    NaN  09/23/2017         15        16.0  ...    NaN
56   FLAT TYPE    NaN  09/30/2017         15        18.0  ...    NaN

    Environment Unit of Sale Quality Condition Appearance  Storage Crop  \
2           NaN          NaN     NaN       NaN        NaN      NaN  NaN
3           NaN          NaN     NaN       NaN        NaN      NaN  NaN
4           NaN          NaN     NaN       NaN        NaN      NaN  NaN
5           NaN          NaN     NaN       NaN        NaN      NaN  NaN
6           NaN          NaN     NaN       NaN        NaN      NaN  NaN
..          ...          ...     ...       ...        ...      ...  ...
52          NaN   SHELLACKED     NaN       NaN        NaN      NaN  NaN
53          NaN   SHELLACKED     NaN       NaN        NaN      NaN  NaN
54          NaN   SHELLACKED     NaN       NaN        NaN      NaN  NaN
55          NaN   SHELLACKED     NaN       NaN        NaN      NaN  NaN
56          NaN   SHELLACKED     NaN       NaN        NaN      NaN  NaN

    Repack  Trans Mode
2        N         NaN
3        N         NaN
4        N         NaN
5        N         NaN
6        N         NaN
..     ...         ...
52       N         NaN
53       N         NaN
54       N         NaN
55       N         NaN
56       N         NaN

[672 rows x 25 columns]

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [52]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
salesdf = nedf.groupby(['Package']).mean(['Low Price', 'High Prince'])

print(salesdf[['Low Price', 'High Price']])

                       Low Price  High Price
Package
1 1/9 bushel cartons   15.875000   16.739583
1 1/9 bushel crates    16.058824   16.705882
1/2 bushel cartons     16.030928   17.597938
24 inch bins          188.005618  202.808989
36 inch bins          170.458861  196.550633
50 lb sacks            25.111111   25.333333
bushel cartons         20.571429   22.857143
each                   75.000000   80.000000

In [85]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

countdf = nedf.groupby(['City Name']).value_counts(['Variety'])

print(countdf)

City Name     Variety
BALTIMORE     MINIATURE                    30
              PIE TYPE                     26
              CINDERELLA                   25
              HOWDEN TYPE                  25
              BIG MACK TYPE                24
              FAIRYTALE                    16
              MIXED HEIRLOOM VARIETIES      3
              HOWDEN WHITE TYPE             2
BOSTON        HOWDEN TYPE                 132
              PIE TYPE                    114
              BIG MACK TYPE                29
              MINIATURE                    28
              FAIRYTALE                    21
              CINDERELLA                   14
              BLUE TYPE                     7
              KNUCKLE HEAD                  7
NEW YORK      PIE TYPE                     42
              HOWDEN TYPE                  39
              MINIATURE                    27
              BIG MACK TYPE                 2
              KNUCKLE HEAD                  1
              MIXED HEIRLOOM VARIETIES      1
PHILADELPHIA  HOWDEN TYPE                  28
              PIE TYPE                     16
              MINIATURE                    12
              KNUCKLE HEAD                  1
Name: count, dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [97]:
# Try the bonus mission if you have time!
chidf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\chicago_9-24-2016_9-30-2017.csv')
detdf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\detroit_9-24-2016_9-30-2017.csv')
stldf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\st-louis_9-24-2016_9-30-2017.csv')

chidf = chidf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"]) 
detdf = detdf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"]) 
stldf = stldf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"])

mwdf = pd.concat([chidf, detdf, stldf])

salesmwdf = mwdf.groupby(['Package']).mean(['Low Price', 'High Prince'])

countmwdf = mwdf.groupby(['City Name']).value_counts(['Variety'])

print(countmwdf)

City Name  Variety
CHICAGO    PIE TYPE                    84
           FAIRYTALE                   54
           MINIATURE                   50
           HOWDEN TYPE                 38
           HOWDEN WHITE TYPE           13
           MIXED HEIRLOOM VARIETIES     9
DETROIT    PIE TYPE                    26
           HOWDEN TYPE                  8
           MIXED HEIRLOOM VARIETIES     8
           HOWDEN WHITE TYPE            2
ST. LOUIS  HOWDEN TYPE                 40
           MINIATURE                   38
           MIXED HEIRLOOM VARIETIES    10
           PIE TYPE                    10
           HOWDEN WHITE TYPE            5
Name: count, dtype: int64

In [99]:
atldf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\atlanta_9-24-2016_9-30-2017.csv')
coldf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\columbia_9-24-2016_9-30-2017.csv')
miadf = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\miami_9-24-2016_9-30-2017.csv')

atldf = atldf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"]) 
coldf = coldf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"]) 
miadf = miadf.drop(columns=["Grade", "Origin District", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Trans Mode"])

sedf = pd.concat([atldf, coldf, miadf])

salessedf = sedf.groupby(['Package']).mean(['Low Price', 'High Prince'])

countsedf = sedf.groupby(['City Name']).value_counts(['Variety'])

print(countsedf)

City Name  Variety
ATLANTA    HOWDEN TYPE                 35
           PIE TYPE                    21
           MINIATURE                    1
COLUMBIA   HOWDEN TYPE                 91
           MINIATURE                   54
           PIE TYPE                    49
           CINDERELLA                  16
           MIXED HEIRLOOM VARIETIES    12
           BLUE TYPE                   11
           FAIRYTALE                   11
           KNUCKLE HEAD                11
           HOWDEN WHITE TYPE            8
MIAMI      HOWDEN TYPE                  2
           PIE TYPE                     1
Name: count, dtype: int64