# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [ ]:
# import pandas
import pandas as pd
# create your data variabe using .read_csv 
data = pd.read_csv(r"C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\eda-with-pandas\studio\IMDB-Studio\IMDB-Movie-Data.csv")
# create your data_indexed variable here
data_indexed = data.set_index('Rank')

In [ ]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [ ]:
# Read data with specified explicit index
data_indexed = pd.read_csv(r"C:\Users\bccut\OneDrive\Desktop\LaunchCode\data-analysis-projects\eda-with-pandas\studio\IMDB-Studio\IMDB-Movie-Data.csv", index_col = 'Rank')


#print(data_indexed)
print(data_indexed)

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [ ]:
# Use the head() function to view the first 5 rows of the data set
print(data_indexed.head(5))

#Returns the first 5 rows of a DataFrame.

In [ ]:
# Use the tail() function to view the last 5 rows of the data set
print(data_indexed.tail(5))

#Returns the last 5 rows of a DataFrame.

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [ ]:
# The info() function: 
print(data_indexed.info())
#List column titles, non-null Count, and data type

In [ ]:
# shape:
print(data_indexed.shape)

# what information does shape provide?  what is the order?
#Lets you know how many rows and columns in the data set

In [ ]:
# columns:
print(data_indexed.columns)

# what information does columns provide?
#Returns the name of the columns

In [ ]:
# The describe() function: 
print(data_indexed.describe())

#Returns statistical data about any numbers in the columns for the dataset.  Including count, mean, standard deviation, min value, max value, lower, mid and upper quartiles.

### 4. Data Selection -- Indexing and Slicing

In [ ]:
#  Extract data as series
# define and print the variable 'genre'
genre_series = data_indexed['Genre']

print(genre_series)

In [ ]:
# Extract the data as a dataframe and print it
movies_dataframe = pd.DataFrame(data_indexed)

print(movies_dataframe)

In [ ]:
# Extract data using rows

# loc function
data_rows = data_indexed.loc[1:50]
print(data_rows)

In [ ]:
# iloc function

data_location = data_indexed[25:30]

### 5. Data Selection - Based on Conditional Filtering

In [ ]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.

select_movies = movies_dataframe[(movies_dataframe['Year'] >= 2010) & (movies_dataframe['Year'] <= 2016) & (movies_dataframe['Rating'] < 6.0) & (movies_dataframe['Revenue (Millions)'] > movies_dataframe['Revenue (Millions)'].quantile(0.5))]

In [117]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?
select_movies = movies_dataframe[(movies_dataframe['Year'] >= 2010) & (movies_dataframe['Year'] <= 2016) & (movies_dataframe['Rating'] < 6.0) & (movies_dataframe['Revenue (Millions)'] > movies_dataframe['Revenue (Millions)'].quantile(0.94))]


print(select_movies.sort_values(by = 'Revenue (Millions)', ascending=False))